@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1340px;
  margin: auto;
}

button {
  transition: 100ms;
  cursor: pointer;
}

button:hover {
  background-color: rgb(201, 201, 201);
}

.slick-track {
  display: flex !important;
  align-items: center;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  margin-left: 0 !important;
}

.btn-slider .slick-slide>div {
  margin-left: 16px;
}

.btn-slider .slick-list {
  overflow: hidden !important;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
  height: 0;
}



/* *******************Animation******** */

@keyframes modalsAnim {
  0% {
    transform: translateY(-800px);
  }

  20% {
    transform: translateY(-600px);
  }

  40% {
    transform: translateY(-500px);
  }

  50% {
    transform: translateY(-400px);
  }

  60% {
    transform: translateY(-300px);
  }

  70% {
    transform: translateY(-200px);
  }

  80% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0px);
  }
}

.modal-anim {
  animation-name: modalsAnim;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}